<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>
    {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
  </title>
  <meta
    name="description"
    content="{% if page %}{{ page.content | strip_html | truncate: 200 }}{% endif %}{% unless page %}{{ site.description }}{% endunless %}"
  />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
  />

  <meta
    name="og:title"
    content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}"
  />
  <meta
    name="og:description"
    content="{% if page %}{{ page.content | strip_html | truncate: 200 }}{% endif %}{% unless page %}{{ site.description }}{% endunless %}"
  />

  <meta name="twitter:card" content="summary" />
  <meta
    name="twitter:description"
    content="{% if page %}{{ page.content | strip_html | truncate: 200 }}{% endif %}{% unless page %}{{ site.description }}{% endunless %}"
  />
  <meta
    name="twitter:title"
    content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}"
  />
  <meta name="twitter:image" content="/assets/me.png" />

  <link rel="stylesheet" href="{{ '/css/styles.css' | prepend:site.url }}" />
  <link
    href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap"
    rel="stylesheet"
  />
  <link
    rel="icon"
    type="imge/x-icon"
    href="{{ '/assets/favicon.ico' | prepend:site.url }}"
  />
</head>

<body>
  <div id="container">
    <h1 class="global-title"> Sharan Jhangiani</h1>
    {% if site.nav-links %}
    <nav>
      <ul>
        {% for link in site.nav-links %}
        <li><a href="{{ link.url | prepend:site.url }}">{{ link.name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    {% endif %}